@import '../../../styles/variables.less';

.task-info__description {
  position: relative;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
  padding: 4px 4px 3px 4px;
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: @transition-basic;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 2px;
    box-shadow: 0 0 4px fade(@color-accent, 40%);
    transition: opacity @transition-basic;
  }

  &:hover {
    border-color: fade(@color-accent, 50%);
  }
  &.is-active {
    border-color: @color-accent;
    &::after {
      opacity: 1;
    }
  }
}
.text-info__description-text-block {
  font-weight: @font-weight-light;
  font-size: @font-size-basic;
  line-height: 1.4;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.task-info__description .public-DraftEditorPlaceholder-root {
  position: absolute;
  pointer-events: none;
  font-weight: @font-weight-light;
  font-style: italic;
  font-size: @font-size-basic;
  color: @color-font-light;
  line-height: 1.4;
}
