@import '../../styles/variables.less';

.task {
  position: relative;
  margin: 0;
  padding: 0 8px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  border-bottom: 1px solid @color-border-light-gray;
  transition: @transition-basic;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    width: 0;
    height: 1px;
    left: 32px;
    top: 50%;
    pointer-events: none;
    transition: @transition-basic;
    background-color: transparent;
  }

  &:first-child {
    border-top: 1px solid @color-border-light-gray;
  }
  &:hover {
    background-color: fade(@color-bg-light-gray, 50%);
  }
  &.is-active {
    background-color: @color-bg-light-gray;
    &:hover {
      background-color: @color-bg-light-gray;
    }
  }
  &.is-completed {
    background-color: transparent;

    &::before {
      z-index: 3;
      width: ~"calc(100% - 32px)";
      background-color: @color-accent;
    }
  }
}
.task__completed {
  position: relative;
  z-index: 1;
  width: 16px;
  height: 16px;
  margin: 0 12px 0 0;
  -webkit-appearance: none;
  flex-shrink: 0;

  background-color: @color-bg-light-gray;
  border: 1px solid @color-border-gray;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;

  &:hover {
    border-color: @color-border-dark-gray;
  }
  &:focus,
  &:active {
    border-color: @color-accent;
    background-color: transparent;
  }
  &:checked {
    background-image: url("data:image/svg+xml;charset=UTF-8, <svg viewBox='0 0 17 14' xmlns='http://www.w3.org/2000/svg'><path d='M15.0328152,0.000721764681 C13.8445596,0.691568051 12.2970639,2.12852833 11.2746114,3.04044543 C9.22970639,4.86427962 7.26770294,6.77101537 5.33333333,8.70538498 L1.46459413,5.3340551 L-1.5720758e-13,6.77101537 C2.12780656,8.89882194 4.42141623,11.1924316 6.30051813,13.5689428 C8.70466321,9.61730208 12.6286701,3.95236252 16,0.967906566 C15.8894646,0.746835754 15.4196891,-0.0269120868 15.0328152,0.000721764681 Z' fill='#ffffff'></path></svg>");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-color: @color-accent;
    border-color: @color-accent;
  }
  .task.is-completed & {
    z-index: 4
  }
}
.task__today {
  position: relative;
  margin: 0 8px 0 0;
  width: 14px;
  height: 14px;
  border: 1px dotted darken(@color-border-gray, 10%);
  border-radius: 8px;
  transition: @transition-basic;
  cursor: pointer;
  flex-shrink: 0;

  &::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: @color-border-gray;
    transition: @transition-basic;
  }
  &:hover {
    border-color: darken(@color-border-dark-gray, 10%);
    &::after {
      background-color: @color-border-dark-gray;
    }
  }
  &.is-checked {
    border-color: @color-accent;
    &::after {
      background-color: @color-accent;
    }
  }
  .task.is-completed & {
    pointer-events: none;
    opacity: 0.5;
  }
}
.task__priority {
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  margin: 0 10px 0 0;
  padding: 4px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  transform-origin: center left;
  transition: 0.2s ease-out;
  flex-shrink: 0;

  &:hover {
    z-index: 10;
    transform: scale(4.5);// translateX(-2px);
    background-color: #ffffff;
    box-shadow: 0 2px 8px 0 fade(#000000, 20%);
    border-radius: 1px;
    transition: 0.3s ease-out 0.15s;
  }

  .task.is-completed & {
    pointer-events: none;
    opacity: 0.5;
  }
}
.task__priority-level {
  position: relative;
  z-index: 1;
  height: 2px;
  margin: 0 0 2px 0;
  background-color: @color-border-gray;
  transition: @transition-basic;

  &:hover {
    background-color: @color-border-dark-gray;
  }

  &.task__priority-level--none {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  &.task__priority-level--low {
    width: 8px;
    .task__priority.task__priority--low & {
      background-color: @color-accent;
    }
  }

  &.task__priority-level--medium {
    width: 10px;
    .task__priority.task__priority--medium & {
      background-color: @color-accent;
    }
  }

  &.task__priority-level--high {
    width: 12px;
    .task__priority.task__priority--high & {
      background-color: @color-accent;
    }
  }

  &.task__priority-level--max {
    width: 14px;
    .task__priority.task__priority--max & {
      background-color: @color-accent;
    }
  }
}
.task__body {
  position: relative;
  padding: 14px 0 11px 0;
  flex-grow: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: opacity @transition-basic;

  .task.is-active & {
    cursor: default;
  }
  .task.is-completed & {
    opacity: 0.2;
  }
}
.task__main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.task__title {
  position: relative;
  flex-shrink: 0;

  font-size: @font-size-basic;
}
.task__description {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

  font-size: @font-size-basic;
  font-weight: 300;
  color: @color-font-medium;

  &::before {
    content: '—';
    position: relative;
    margin: 0 8px;
    color: @color-font-light
  }
}

.task__date {
  position: relative;
  //width: 100%;
  margin: 0 0 0 10px;
  flex-shrink: 0;
  float: right;

  text-align: right;
  font-size: @font-size-small;
  font-weight: 300;
  color: @color-font-medium;
}
