@import '../../../styles/variables.less';
@import '../../../styles/commonStyles.less';

.contexts {
  position: relative;
  margin: 20px 0 30px 6px;
}
.contexts__title {
  .small__title();
}
.contexts__list {
  position: relative;
  margin: 5px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.context {
  position: relative;
  margin: 0 6px 7px 0;
  padding: 3px 10px 5px 10px;
  cursor: pointer;
  transition: @transition-basic;

  border: 1px solid @color-border-gray;
  border-radius: 2px;

  font-size: @font-size-basic;
  font-weight: @font-weight-light;
  color: @color-font-medium;

  &:hover {
    border-color: fade(@color-accent, 50%);
    color: @color-accent;
  }
  &:active,
  &:focus {
    border-color: @color-accent;
    color: @color-accent;
  }
  &.is-active {
    background-color: @color-accent;
    border-color: @color-accent;
    color: #ffffff;

    &:hover {
      background-color: darken(@color-accent, 10%);
      border-color: darken(@color-accent, 10%);
    }
  }
}
.contexts__empty-list {
  position: relative;
  font-size: @font-size-basic;
  font-weight: @font-weight-light;
}
