@import '../../styles/variables.less';

.tasks {
  position: fixed;
  top: 0;
  left: @size-width-sidebar;
  bottom: 0;
  width: ~'calc(100% - @{size-width-sidebar})';
  margin: 0;
  padding: 30px;
  overflow: hidden;
  font-family: 'Fira Sans', sans-serif;
}

.tasks__list {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}
