@import '../../styles/variables.less';

.tasks {
  position: relative;
  padding: 30px 60px 30px 20px;
  height: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  transition: @transition-basic;

  &.has-active-item {
    //width: ~'calc(100% - @{size-width-sidebar} - @{size-width-task-info})';
    //padding: 30px 60px 30px 30px;
  }
}
.tasks__list {
  position: relative;
  box-sizing: border-box;
  max-width: @size-max-width-tasks;
  width: 100%;
  list-style: none;
  padding: 0 0 100px 0;
  margin: 0;
  transition: @transition-basic;
}
