@import '../../styles/variables.less';
@import '../../styles/commonStyles.less';

.nav-group {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0 0 15px 0;
}

.nav-group__title {
  .small__title();
  margin-top: 15px;
}

.nav-group__list {
  position: relative;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-group__add-button {
  position: relative;
  padding: 4px 0;
  color: @color-accent;
  font-size: @font-size-small;
  font-weight: 400;
  cursor: pointer;
  transition: @transition-basic;

  &:hover {
    color: darken(@color-accent, 10%);
  }
}
