// Colors
@color-font-basic: #000000;
@color-font-light: #bbbbbb;
@color-border-light: #eeeeee;
@color-bg-light-gray: #f6f6f6;

// Font Sizes
@font-size-basic: 14px;

// Transitions
@transition-basic: 0.3s ease-out;

//Sizes
@size-width-sidebar: 200px;
@size-width-task-info: 0;
