// Colors
@color-accent: #E35B5D;//#F18052;//#2CA7FD;//#FEB132;//#ED4E2F;
@color-font-basic: #000000;
@color-font-medium: #777777;
@color-font-light: #bbbbbb;
@color-border-light-gray: #eeeeee;
@color-border-gray: #dddddd;
@color-border-dark-gray: #bbbbbb;
@color-bg-light-gray: #f6f6f6;

// Font Sizes
@font-size-basic: 14px;
@font-size-small: 12px;

// Transitions
@transition-basic: 0.3s ease-out;

//Sizes
@size-width-sidebar: 200px;
@size-width-task-info: 300px;
