// Colors
@color-accent: #2A8AEB;//#2E93E6;//#E35B5D;//#F18052;//#2CA7FD;//#FEB132;//#ED4E2F;
@color-dark-accent: darken(@color-accent, 10%);
@color-red: #D94848;//#E35B5D;
@color-orange: #FA7F10;
@color-font-basic: #000000;
@color-font-medium: #777777;
@color-font-light: #bbbbbb;
@color-border-light-gray: #eeeeee;
@color-border-gray: #dddddd;
@color-border-dark-gray: #bbbbbb;
@color-bg-light-gray: #f6f6f6;
@color-bg-app: #fcfcfc;

@color-task-hover: lighten(@color-bg-light-gray, 1%);

@color-facebook: #3C5A96;
@color-hover-facebook: darken(@color-facebook, 10%);
@color-twitter: #2AA3EF;
@color-hover-twitter: darken(@color-twitter, 10%);
@color-google: #E9453C;
@color-hover-google: darken(@color-google, 10%);

// Font Sizes
@font-size-basic: 13px;
@font-size-small: 12px;
@font-size-xsmall: 10px;
@font-size-xxsmall: 8px;
@font-size-task-title: 20px;
@font-size-section-header: 36px;

//Font weight
@font-weight-light: 300;
@font-weight-medium: 400;
@font-weight-bold: 600;

// Transitions
@transition-basic: 0.4s ease-out;
@transition-short: 0.2s ease-out;

//Sizes
@size-width-sidebar: 220px;
@size-width-task-info: 480px;
@size-height-auth-component: 30px;
@size-max-width-tasks: 650px;

//Opacity
@opacity-disabled: 0.3;
