@import '../../styles/variables.less';

.nav-item {
  position: relative;
  box-sizing: border-box;
  padding: 4px 0;
  cursor: pointer;

  &.is-active {    
    cursor: default;
    pointer-events: none;
  }
}

.nav-item__title {
  position: relative;
  font-size: @font-size-basic;
  font-weight: 300;
  color: lighten(@color-font-basic, 40%);
  transition: @transition-basic;

  .nav-item:hover & {
    color: @color-font-basic;
  }
  .nav-item.is-active & {
    font-weight: 500;
    color: @color-font-basic;
  }
}

.nav-item__input {
  position: relative;
  font-size: @font-size-basic;
  font-weight: 300;
  text-decoration: underline;
  color: @color-font-basic;
  border-style: none;
}

.nav-item__count {
  position: relative;
  margin: 0 0 0 8px;

  font-size: @font-size-basic / 1.5;
  font-weight: 400;
  color: @color-font-light;
  vertical-align: top;
}
