@import '../../styles/variables.less';

.nav {
  position: fixed;
  top: @size-height-auth-component;
  bottom: 0;
  left: 0;
  width: @size-width-sidebar;
  box-sizing: border-box;
  margin: 0;
  padding: 30px;
  padding-top: 10px;

  list-style: none;
  font-family: 'Fira Sans', sans-serif;
  overflow: auto;
}
