@import '../../../styles/variables.less';

.checkbox {
  position: relative;
  z-index: 1;
  -webkit-appearance: none;
  flex-shrink: 0;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%) scale(0.92);
    border-radius: 50%;
    border: 1px solid @color-border-gray;
    opacity: 1;
    transition: @transition-basic;
  }
  &:hover::before {
    opacity: 0;
  }

  &:focus,
  &:active {
    outline: none;
  }
  &.is-active::before {
    opacity: 0;
  }
  &.is-dimmed {
    opacity: 0.3;
  }
  &.checkbox--default {
    width: 16px;
    height: 16px;
    margin: 0;
  }
  &.checkbox--task-info {
    width: 26px;
    height: 26px;
    margin: 0 0 12px 0;
  }
  &.checkbox--tasks-list {
    width: 20px;
    height: 20px;
    margin: 0 9px 0 0;
  }
  &.checkbox--section-header {
    width: 38px;
    height: 38px;
    margin: 8px 8px 0 0;
  }
}
.checkbox__checkmark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.checkbox__checkmark svg {
  position: relative;
  width: 55%;
  top: 50%;
  left: 50%;
  transform: translate(-45%, -50%);

  path {
    fill: fade(@color-border-gray, 70%);
    transition: @transition-basic;

    .checkbox:hover & {
      fill: @color-accent;
    }
    .checkbox.is-active & {
      fill: #ffffff;
    }
  }
}
.checkbox__border {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  svg {
    width: 100%;
    height: 100%;
  }
  circle {
    stroke: @color-accent;
    stroke-width: 1;
    transition: @transition-basic;
    transform: scale(1.1);
    opacity: 0;
    transform-origin: center;

    .checkbox:hover & {
      stroke: @color-accent;
      opacity: 1;
    }
    .checkbox.is-active & {
      transform: scale(0);
    }
  }
}
.checkbox__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  svg {
    width: 100%;
    height: 100%;
  }
  circle {
    fill: @color-accent;
    stroke: @color-accent;
    transform: scale(0);
    transform-origin: center;
    transition: @transition-basic;

    .checkbox.is-active & {
      transform: scale(1.1);
    }
  }
}
