@import '../../styles/variables.less';

.task-info__transition {
  flex-shrink: 0;
}
.task-info {
  position: relative;
  box-sizing: border-box;
  top: 0;
  height: 100%;
  width: @size-width-task-info;
  padding: 40px 60px 40px 50px;
  margin: 0;
  overflow-y: auto;

  background-color: #ffffff;
  border-left: 1px solid @color-border-light-gray;
}

.task-info.task-info-enter {
  opacity: 0;
  padding: 40px 0;
  transform: translateX(100%);
  width: 0;
}

.task-info.task-info-enter.task-info-enter-active {
  opacity: 1;
  transform: translateX(0);
  width: @size-width-task-info;
  padding: 40px 60px 40px 50px;
  transition: width 400ms ease-in-out, opacity 300ms ease-in, padding 400ms ease-in;
}

.task-info.task-info-leave {
  opacity: 1;
  width: @size-width-task-info;
}

.task-info.task-info-leave.task-info-leave-active {
  opacity: 0;
  width: 0;
  padding: 40px 0;
  transition: 300ms ease-out;
}


.task-info__content {
  position: relative;
  min-width: @size-width-task-info - 110;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  .task-info-enter.task-info-enter-active &,
  .task-info-leave.task-info-leave-active & {
    min-width: @size-width-task-info - 110;
  }
}

.task-info__controls {
  position: relative;
  margin: 4px 14px 0 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-info__body {
  position: relative;
  min-height: 100%;
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.task-info__body-top {
  position: relative;
  width: 100%;
}

.task-info__delete {
  position: relative;
  z-index: 1;
  display: block;
  margin: 40px 0 0 4px;
  padding: 6px 12px 7px 12px;
  cursor: pointer;

  text-transform: capitalize;
  font-size: @font-size-basic;
  font-weight: @font-weight-medium;
  color: @color-red;
  border: 1px solid fade(@color-red, 40%);
  border-radius: 2px;
  background-color: #ffffff;

  transition: @transition-basic;

  &:hover,
  &:focus {
    border-color: @color-red;
    background-color: fade(desaturate(@color-red, 35%), 5%);
    outline: none;
  }
  &:active {
    border-color: @color-red;
    background-color: @color-red;
    color: #ffffff;
  }
}
.task-info__delete-text {
  position: relative;
  z-index: 2;
}
