@import '../../../styles/variables.less';
@import '../../../styles/commonStyles.less';

.add-task {
  position: relative;
  z-index: 1;
  margin: 0 0 35px 0;
  max-width: @size-max-width-tasks;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
  border: 1px solid @color-border-gray;
  border-radius: 2px;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 2px;
    box-shadow: 0 0 4px fade(@color-accent, 40%);
    transition: opacity @transition-basic;
  }

  &:hover {
    border-color: fade(@color-accent, 50%);
  }

  &.has-focus {
    border-color: @color-accent;
    &::after {
      opacity: 1;
    }
  }
  &.is-empty {
    max-width: @size-max-width-tasks - 100;
  }
}

.add-task__textfield {
  position: relative;
  width: 100%;
  margin: 0 0px 0 0;
  padding: 10px 10px;
  font-size: @font-size-basic;
  font-weight: 400;

  //border: 1px solid @color-border-light-gray;
  border: none;
  background-color: transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  transition: @transition-basic;

  &:hover {
  }
  &:focus,
  &:active {
    background-color: transparent;
    outline: none;
  }
  &::-webkit-input-placeholder {
    .placeholder();
  }
}

.add-task__button {
  position: relative;
  margin: 0;
  padding: 10px 20px;
  white-space: nowrap;
  flex-shrink: 0;

  font-size: @font-size-basic;
  font-weight: @font-weight-medium;
  color: @color-font-light;
  background-color: transparent;
  border: none;
  outline: none;
  border-left: 1px solid @color-border-light-gray;
  cursor: pointer;
  transition: border-color @transition-basic, color @transition-basic, background-color @transition-basic;

  .add-task.has-focus & {
    border-color: @color-border-light-gray;
    color: @color-accent;
    //background-color: fade(desaturate(@color-accent, 50%), 10%);
  }
  &:focus {
    outline: none;
  }
  .add-task.has-focus &:hover {
    background-color: fade(desaturate(@color-accent, 35%), 5%);
    border-color: @color-accent;
    color: @color-accent;
  }
}
.add-task__button-sign {
  position: relative;
  margin-left: 5px;
  vertical-align: baseline;
  font-size: 16px;

}
