@import '../../styles/variables.less';

.sidebar {
  position: relative;
  width: @size-width-sidebar;
  box-sizing: border-box;
  margin: 0;
  padding: 30px;
  height: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}
