@import '../../styles/variables.less';

.sidebar {
  position: relative;
  width: @size-width-sidebar;
  min-width: 150px;
  box-sizing: border-box;
  margin: 0;
  padding: 40px 40px 40px 50px;
  height: 100%;
  flex-shrink: 0;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}
