@import '../../../styles/variables.less';

.task {
  position: relative;
  margin: 0;
  padding: 2px 8px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  border-bottom: 1px solid @color-bg-light-gray;
  border-top: 1px solid transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: ~"calc(100% + 4px)";
    height: ~"calc(100% + 4px)";
    left: -2px;
    top: -2px;
    opacity: 0;
    pointer-events: none;
    border-radius: 2px;
    background-color: #f5f5f5;
    border: 1px solid @color-bg-app;
    transform-origin: left;
  }
  &::after {
    left: -3px;
    top: -3px;
    z-index: 1;
    background-color: @color-bg-light-gray;
    border: 1px solid @color-bg-app;
  }

  &:first-child {
    border-top-color: @color-border-light-gray;
  }
  &:hover {
    &::before {
      opacity: 1;
      transition: none;
    }
  }
  &.is-active {
    z-index: 2;
    &::before {
      opacity: 1;
      background-color: @color-bg-light-gray;
      transition: background-color @transition-basic;
      //animation: x-zoom-in 0.4s cubic-bezier(0.47, 0, 0, 0.99);
    }
    &:hover::before {
      background-color: @color-bg-light-gray;
    }
  }
  &.is-completed {
  }
}

@keyframes x-zoom-in {
  0% {transform: scaleX(.5); opacity: 0.5;}
  //50% {transform: scale(1.03); opacity: 1;}
  100% {transform: scaleX(1);}
}

.task__body {
  position: relative;
  z-index: 2;
  padding: 12px 0 12px 0;
  flex-grow: 1;
  min-width: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: opacity @transition-basic;

  .task.is-active & {
    cursor: default;
  }
  .task.is-completed &,
  .task.is-latent-today & {
    opacity: 0.1;
  }
}
.task__main {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
}
.task__title {
  position: relative;
  flex-shrink: 0;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: @font-size-basic;
}
.task__description {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;

  font-size: @font-size-basic;
  font-weight: 300;
  color: @color-font-medium;

  &::before {
    content: '—';
    position: relative;
    margin: 0 8px;
    color: @color-font-light
  }
}

.task__extra {
  position: relative;
  min-width: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 0;
}

.task__date {
  position: relative;
  margin: 0 0 0 10px;
  flex-shrink: 0;
  float: right;

  text-align: right;
  font-size: @font-size-small;
  font-weight: 300;
  color: @color-font-medium;
}

.task__tracking {
  position: absolute;
  z-index: 10;
  opacity: 0;
  width: 24px;
  height: 18px;
  top: 50%;
  right: 0;
  margin: 0;
  padding: 0 0 0 6px;
  transform: translateY(-50%);
  border: none;
  background-color: lighten(@color-bg-light-gray, 1%);
  outline: none;
  cursor: pointer;
  transition: opacity @transition-basic;

  &.is-active {
    position: relative;
    transform: none;
    opacity: 1;
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 2px;
      right: -1px;
      width: 6px;
      height: 6px;
      border-radius: 2px;
      background-color: #fdfdfd;
      transition: opacity @transition-basic;
    }
    &::after {
      content: '';
      position: absolute;
      z-index: 3;
      top: 3px;
      right: 0;
      width: 4px;
      height: 4px;
      border-radius: 2px;
      background-color: @color-red;
      animation: rec 1s ease-in infinite alternate;
      transition: opacity @transition-basic;
    }
    &:hover::before,
    &:hover::after {
      opacity: 0;
      animation: none;
    }

    .task.is-active & {
      background-color: @color-bg-light-gray;
      &::before {
        background-color: @color-bg-light-gray;
      }
    }
  }

  .task:hover & {
    opacity: 1;
  }

  svg {
    pointer-events: none;
  }
}

.task__tracking svg {
  opacity: 1;
  transition: opacity @transition-basic;
}
.task__tracking.is-active svg {
  opacity: 0.5;
  .task:hover & {
    opacity: 1;
  }
}

.task__tracking svg g[id^='stopwatch__stopwatch-'] {
  opacity: 1;
  transition: opacity @transition-basic;
}
.task__tracking:hover svg g[id^='stopwatch__stopwatch-'] {
  opacity: 0;
}

.task__tracking svg circle[id^='stopwatch__bezel-'] {
  opacity: 1;
  transition: opacity @transition-basic, transform @transition-basic;
  transform-origin: center;
}
.task__tracking:hover svg circle[id^='stopwatch__bezel-'] {
  opacity: 0.5;
  transform: scale(1.25);
}

.task__tracking svg g[id^='stopwatch__stop-'] {
  opacity: 0;
  transition: opacity @transition-basic;
}
.task__tracking.is-active:hover svg g[id^='stopwatch__stop-'] {
  opacity: 1;
}

.task__tracking svg g[id^='stopwatch__start-'],
.task__tracking.is-active svg g[id^='stopwatch__start-'],
.task__tracking.is-active:hover svg g[id^='stopwatch__start-'] {
  opacity: 0;
  transition: opacity @transition-basic;
}
.task__tracking:hover svg g[id^='stopwatch__start-'] {
  opacity: 1;
}
