@import '../../../styles/variables.less';

.task-info__title-text-block {
  font-size: @font-size-task-title;
  line-height: 1.4;
}

.task-info__title .public-DraftEditorPlaceholder-root {
  font-size: @font-size-task-title;
  font-weight: @font-weight-light;
  font-style: italic;
  color: @color-font-light;
}
