@import '../../styles/variables.less';

@transition-time-auth-menu: 0.4s;

.auth {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 0 0 30px;
  z-index: 2;

  font-family: 'Fira Sans', sans-serif;
}

.auth-menu-icon {
  position: relative;
  padding: 4px 4px 2px 0px;
  cursor: pointer;
  transition: @transition-time-auth-menu*3/4 ease-in @transition-time-auth-menu/4;

  &:hover {
    border: 1px solid @color-border-dark-gray;
    border-radius: 1px;
    box-shadow: 0 0 4px 4px fade(@color-border-dark-gray, 20%);
    padding: 4px 4px 2px 4px;
    background-color: #ffffff;
    transition: @transition-time-auth-menu ease-in;
  }
}

.auth-menu-icon-item {
  position: relative;
  z-index: 1;
  height: 2px;
  width: 14px;
  margin: 0 0 2px 0;
  background-color: @color-border-gray;
  transition: @transition-basic;

  .auth-menu-icon:hover & {
    background-color: @color-border-dark-gray;
  }
}

.auth-btn(@color) {
  position: relative;
  display: flex;
  margin: 10px 10px;
  padding: 2px 5px 2px 5px;
  cursor: pointer;

  font-size: @font-size-small;
  color: @color;
  border: 1px solid fade(@color, 50%);
  border-radius: 2px;
  background-color: transparent;

  &:hover {
    border-color: @color;
    color: darken(@color, 15%);
  }
  &:focus {
    border-color: @color;
    color: darken(@color, 15%);
    box-shadow: 0 0 2px 2px fade(@color, 50%);
  }
}

.auth-facebook-btn {
  .auth-btn(#365899)
}

.auth-google-btn {
  .auth-btn(@color-font-medium)
}

.auth-logout-btn {
  .auth-btn(@color-accent)
}

.auth-btn-animation-start() {
  opacity: 0.01;
}

.auth-btn-animation-end() {
  opacity: 1;
  transition: opacity @transition-time-auth-menu/2 ease-in @transition-time-auth-menu/2;
}

.auth-btn-enter {
  .auth-btn-animation-start;
}

.auth-btn-enter.auth-btn-enter-active {
  .auth-btn-animation-end
}

.auth-btn-appear {
  .auth-btn-animation-start;
}

.auth-btn-appear.auth-btn-appear-active {
  .auth-btn-animation-end
}

.auth-btn-leave {
  opacity: 1;
}

.auth-btn-leave.auth-btn-leave-active {
  opacity: 0.01;
  transition: opacity @transition-time-auth-menu/2 ease-out;
}
