@import '../../../styles/variables.less';

.someday {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;

  &.is-disabled {
    pointer-events: none;
    opacity: 0.3;
  }

  &.is-dimmed {
    opacity: 0.3;
  }

  &.someday--default {
    margin: 0;
    width: 16px;
    height: 16px;
  }
  &.someday--task-info {
    margin: 0 0 8px 0;
    width: 16px;
    height: 16px;
  }
}

.someday__icon {
  fill: @color-border-dark-gray;
  transition: fill @transition-basic;

  &.someday__icon--task-info {
    width: 16px;
    height: 16px;
  }

  &:hover,
  .someday:hover & {
    fill: @color-border-darkest-gray;
  }
  &.is-checked {
    fill: @color-accent;
  }
  .someday:hover &.is-checked {
    fill: @color-dark-accent;
  }
}
